# .gitignore
# Build artifacts
*.o
*.a
/yafu
/msieve
/siqs_demo
/ecm_demo
/ysieve_demo
/factor/lasieve5_64/bin/local/
/factor/lasieve5_64/asm/ls-defs-os.asm
/yafu_test
/yafu_test_full
/yafu_test.exe
/yafu_test_full.exe
/yafu_test_sanitize
/yafu_test_sanitize.exe
*.no
*.qo
.deps/

# Logs / Checkpoints / data files
*.log
factor.json
siqs.dat
cadoWorkdir
/*.db
nfs.*
*.optrpt
*.obj
*.tlog
*.last_spq*

# visual studio build
build.vc22/.vs/*
*.idb
*.pdb
*.user
*.recipe

# makefile configuration
config.mk
