# .gitignore
# Build artifacts
*.o
*.a
/yafu
/msieve
/factor/lasieve/bin/local/
/factor/lasieve/asm/ls-defs-os.asm
/yafu_test
/yafu_test_full
/yafu_test_sanitize
/yafu_test_sanitize.exe
*.no
*.qo
.deps/

# Logs / Checkpoints / data files
*.log
factor.json
siqs.dat
cadoWorkdir
/*.db
nfs.*
*.optrpt
*.obj
*.tlog
*.last_spq*

# makefile configuration
config.mk
